{% extends "partials/base_t.html" %}
{% block content %}
<div style="display: flex; gap: 20px; margin-top: 40px;">

    <!-- DASHBOARD VARK -->
    <a href="{% url 'vark_dashboard' %}" 
       style="flex: 1; padding: 30px; background: #e3f2fd; border-radius: 10px; text-decoration: none; color: black;">
        <h2>Dashboard VARK</h2>
        <p>Ir al dashboard de VARK</p>
    </a>

    <!-- DASHBOARD MBTI -->
    <a href="{% url 'mbti_dashboard' %}" 
       style="flex: 1; padding: 30px; background: #ffebee; border-radius: 10px; text-decoration: none; color: black;">
        <h2>Dashboard MBTI</h2>
        <p>Ir al dashboard de MBTI</p>
    </a>

</div>
{% endblock %}